
<div class="sidenav-wrapper">
<!-- <div class="wrapper"> -->
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>The Playground</h3>
        </div>

        <ul class="sidebar-body list-unstyled components">
            <li [class.active]="dashboard">
                <a href="javascript:void(0)" (click)="onDashboardMenuClick()">Dashboard</a>
            </li>
            <li [class.active]="scheduler">
                <a href="javascript:void(0)" (click)="onSchedulerMenuClick()">Scheduler</a>
            </li>
            <li [class.active]="expenses">
                <a href="javascript:void(0)" (click)="onExpensesMenuClick()">Expenses</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>
</div>