<form [formGroup]="form">

<div class="container-fluid">
  <div class="row row-header">
    <div class="col">
      <div class="jumbotron">

        <div class="row">
          <div class="col-2">
            <table class="table table-hover table-sm borderless">
              <thead>
                <th>Category</th>
              </thead>
              <tbody>
                <tr *ngFor="let cat of categoryList" (click)="selectCategory(cat)" [class.highlighted]="cat.id === selectedCategoryID">
                  <td>{{ cat.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>  
          <div class="col-6">
            <div class="row">
              <div class="col-2">
                <div class="form-group">
                  <label>Date</label>
                  <input formControlName="date" type="text" class="form-control" placeholder="mm/dd/yyyy">
                </div>
              </div>
              <div class="col-8">
                <div class="form-group">
                  <label>Description</label>
                  <input formControlName="description" type="text" class="form-control">
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label>Amount</label>
                  <input formControlName="amount" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Notes</label>
                  <input formControlName="notes" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input formControlName="shared"  type="checkbox" class="form-check-input">
                  <label>Shared?</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <div class="form-check">
                    <input formControlName="reimbursed"  type="checkbox" class="form-check-input">
                    <label>Reimbursed?</label>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-2">
            <table class="table table-hover table-sm borderless">
              <thead>
                <th>Purchased By</th>
              </thead>
              <tbody>
                <tr *ngFor="let pUser of purchasedUserList" (click)="selectPurchasedUser(pUser)" [class.highlighted]="pUser.id === selectedPurchasedUserID">
                  <td>{{ pUser.firstName }} {{ pUser.lastName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-2">
            <button class="btn btn-save" (click)="submitExpense()">
              Submit Expense
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</form>