<form [formGroup]="form">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>My Test Page</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="form-group">
              <label>name</label>
              <input formControlName="name" type="text" class="form-control">
          </div>
      </div>
      <div class="col">
          <div class="form-group">
              <label>a_number</label>
              <input formControlName="a_number" type="text" class="form-control">
          </div>
      </div>
      <div class="col">
        <button class="btn btn-save" (click)="insertTestData()">
          Insert Test Data
        </button>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>name</th>
              <th>a_number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of testData">
              <td>{{ row.name }}</td>
              <td>{{ row.a_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>  

</form>